FORMAT: 1A
HOST: http://attendance.smartera3s.com/

# Smart Attendance Mobile API

Smart Attednace APIs.


## Register [/Register]

### Register from Mobile [POST]

Register.

+ Request (application/json)

        {
            "username": "Ahmed",
            "password": "Ahmed123",
            "serial": "21036525"
        }

+ Response 200

+ Response 401 (application/json)

        {
            "error": [{ 
                "code" : "E001",
                "Description":"Invalid Username and Password."
            },
            { 
                "code" : "E002",
                "Description":"Already Registered User."
            },
            {
                "code" : "E003",
                "Description" : "Mobile mismatch."
            ]
        }

## Login [/Login]

### Login from Mobile or Web [POST]

Login.

+ Request (application/json)

        {
                "username": "Ahmed",
                "password": "Ahmed123",
                "serial": "21036525"
        }  

+ Response 200

+ Response 401

        {
            "error": [{ 
                "code" : "E001",
                "Description":"Invalid Username and Password."
            },
            { 
                "code" : "E003",
                "Description":"Mobile Mismatch."
            }
            ]
        }


## Update Password [/Update_password]

### Update Password [POST]

Update Password.

+ Request (application/json)

        {
                "username": "Ahmed",
                "password": "Ahmed123",
                "new_password": "Ahmed123",
                "new_password_confirm": "Ahmed123",
                "serial": "21036525"
        }  

+ Response 200

+ Response 401 (application/json)

        {
            "error": [{ 
                "code" : "E001",
                "Description":"Invalid Username and Password."
            },
            { 
                "code" : "E005",
                "Description":"New password and its confirmation mismatched."
            }
            ]
        }

+ Response 501 (application/json)

        {
            "error": [{ 
                "code" : "E100",
                "Description":"Cannot update password, please try again later."
            }
            ]
        }


## Check in, Check out [/Check_att]

### Check in, Check out [POST]

Update Check in out.

+ Request (application/json)

        {
           "serial":"865276023477524",
           "timestamp":"Tue Sep 06 16:31:49 EEST 2016",
           "att-type": "check-in", 
           "beacon-mac": "D4:22:02:00:0E:14"
        }


+ Response 200

        {
        "status": "success"
        }

+ Response 401 (application/json)

        {
            "error": [{ 
                "code" : "E006",
                "Description":"already checked in."
            },
            { 
                "code" : "E007",
                "Description":"already checked out."
            },
            { 
                "code" : "E008",
                "Description":"invalid beacon."
            }
            ]
        }

+ Response 501 (application/json)

        {
            "error": [{ 
                "code" : "E100",
                "Description":"Cannot add attendance record, please try again later."
            }
            ]
        }
        
## Heartbeat [/heartbeat]

### Update Password [POST]

Update Password.

+ Request (application/json)

        {
                "serial": "21036525",
                "timestamp": "2016-09-21 10:30:12",
                "beacons" :[
                    {
                        "beacon-mac": "ab:3F:B2:0C",
                        "signal-strength":"15.2"
                    }
                ]
        } 

+ Response 200

+ Response 401 (application/json)

        {
            "error": [{ 
                "code" : "E001",
                "Description":"Invalid Username and Password."
            },
            { 
                "code" : "E005",
                "Description":"New password and its confirmation mismatched."
            }
            ]
        }

+ Response 501 (application/json)

        {
            "error": [{ 
                "code" : "E100",
                "Description":"Cannot update password, please try again later."
            }
            ]
        }

## Attendance List [/ListAttedance]

### List Attendance Records for this Mobile [POST]

+ Request (application/json)

        {
                "serial": "865276023477524"
        } 

+ Response 200 (application/json)

        {
            "history": [
            {
                "timestamp": "2016-09-21 10:30:12",
                "att_type": "check-in"
            },
                        {
                "timestamp": "2016-09-21 06:30:50",
                "att_type": "check-out"
            },
                        {
                "timestamp": "2016-09-21 10:00:8",
                "att_type": "check-in"
            },
                        {
                "timestamp": "2016-09-21 07:00:10",
                "att_type": "check-out"
            }
            
            
        ]
        }
        
## Beacons List [/ListBeacons]

### List Beacons associated for this Mobile [POST]

+ Request (application/json)

        {
                "serial": "865276023477524"
        } 

+ Response 200 (application/json)

        {
            "beacons": [
            {
                "MAC": "D4:22:02:00:0E:14"
                "name": "office 1"
            },
                        {
                "MAC": "D4:22:02:00:0E:1E"
                "name": "kitchen"
            },
                        {
                "MAC": "D4:22:02:00:0E:2A"
                "name": "meeting room"
            },
                        {
                "MAC": "F8:02:97:7F:BA:8E"
                "name": "head office"
            }
            
            
        ]
        }
        
+ Response 401